<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Локальный фид для Ti-Soft.MvvmUtilites до публикации на nuget.org.
         После публикации эту строку можно удалить. -->
    <add key="local-mvvm" value="G:\Projects\Windows\LocalNuget" />
  </packageSources>
</configuration>
